.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #fff;
  background-color: #999999;
  border: 1px solid #d9e2ef;
}

.page-item.disabled .page-link {
  color: #868e96;
  pointer-events: none;
  cursor: auto;
  background-color: #d9e2ef;
  border-color: #999999;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #646464;
  border-color: #d9e2ef;
}

.page-link:focus, .page-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #646464;
  border-color: #d9e2ef;

}
